.App {
  text-align: left;
}

.container{
  margin-left: 20px;
}

body {
  background: linear-gradient(to right, #fff, #ffdefb, #ff98f3, #ff57db, #ff00d4);
  background-size: 500% 100%; 
  animation: gradientShift 20s infinite linear alternate;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}